@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.container {

}

h1, h3, .room-body-title {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin: 30px auto 50px auto;
}

p {
  font-size: 2vw;
}

footer {
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer-title {
  text-align: center;
  margin: 10px auto 30px auto;
}

.introduction, .classroom-information, .fee-about, .class-card-about, .philosophy-body, .teacher-contents {
  text-align: center;
  margin: 10px auto 50px auto;
}

/* ここから home */

.home-classroom {
  text-align: center;
  margin: 10px auto 20px auto;
}

.home-teacher {
  text-align: center;
  margin: 10px auto 20px auto;
}

.home-lesson {
  text-align: center;
  margin: 10px auto 20px auto;
}

.home-under-content {
  float: left;
}

.home-access {
  text-align: center;
}

.home-blog {
  text-align: center;
}

.home-contact {
  text-align: center;
}
/*ここまで home */

/*ここから classroom */
.classroom-contents {
  margin-bottom: 60px;
  text-align: center;
}

.class-card {
  margin: 50px auto;
}

.card {
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  text-align: center;
  margin: 0 1px 20px 0;
  padding: 0;
}

.card p {
  font-size: 20px;
}

.card-title {
  margin-top: 30px;
}

.hidden_box {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}

.hidden_box label {
  padding: 15px;
  font-weight: bold;
  border: solid 2px black;
  cursor :pointer;
}

.hidden_box label:hover {
  background: #efefef;
}

.hidden_box input {
  display: none;
}

.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
  background-color: #ffddff;
}

.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.voice {
  padding: 0.5em 1em;
  margin: 2em 0;
  border: double 5px #4ec4d3;
}
.voice p {
  margin: 0;
  padding: 0;
}

.student-voice-image {
  height: 40px;
  width: 40px;
}

/*ここまで classroom */

/*ここから teacher */
.teacher-image {
  width: 70vw;
  height: 60vw;
  margin-bottom: 50px;
}

.teacher-body-under {
  text-align: center;
}

/*ここまで teacher */

/*ここから lesson */

.lesson-content-image {
  text-align: center;
  margin: auto;
}

.lesson-headline, .lesson-guide-title {
  margin: 40px 0 30px 0;
  text-align: center;
}

.lesson-content-body, .lesson-guide-body, {
  text-align: left;
}

/*ここまで lesson */

/*ここから access */
.access-image {

}

.access-body {
  text-align: center;
}

.access-body-right p {
  text-align: left;
}

/*ここまで access */

.slick-arrow{//スライダー矢印
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
  width: 30px;
  z-index: 1;
  overflow: hidden;
  text-indent: 500%;
  white-space: nowrap;
  border: none;
  transform: none;
  border-radius: 0;
}
.slick-prev{//スライダー矢印
  left: -30px;
  background: url(image/left-arrow-w.svg) center no-repeat rgba(255,255,255,0.6);
  background-size: 50%;
  &:hover{
    background: url(image/left-arrow-w.svg) center no-repeat rgba(255,255,255,0.6);
    background-size: 50%;
  }
}
.slick-next{//スライダー矢印
  right: -30px;
  background: url(image/right-arrow-w.svg) center no-repeat rgba(255,255,255,0.6);
  background-size: 50%;
  &:hover{
    background: url(image/right-arrow-w.svg) center no-repeat rgba(255,255,255,0.6);
    background-size: 50%;
  }}
  img {
    width:100%;
  }
