@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

h1 {
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin: 20px auto;
}
.footer-title {
  text-align: center;
  margin: 10px auto;
}

.introduction {
  text-align: center;
  margin: 10px auto 20px auto;
}

.home-classroom {
  text-align: center;
  margin: 10px auto 20px auto;
}

.home-teacher {
  text-align: center;
  margin: 10px auto 20px auto;
}

.home-lesson {
  text-align: center;
  margin: 10px auto 20px auto;
}

.home-under-content {
  text-align: center;
}
