@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP);@charset "UTF-8";

body {
  background-image: url(/images/b093.jpg?f1a7c2e97ec1fe8bc653965b70c0f64d);
}

h1,
h2,
h3 {
  font-family: "Noto Sans JP", sans-serif;
  text-align: center;
}

h1 {
  margin: 60px auto;
}

h1:after {
  content: url(/images/border1.png?68ea11730c87289413d1c5fa91c4dc8d);
  position: relative;
  top: -10px;
}

h5 {
  font-weight: bold;
}

p {
  font-size: 14px;
  margin: 10px 0;
}

@media screen and (min-width: 650px) {
  .br-pc {
    display: block;
  }

  .br-sp {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .br-pc {
    display: none;
  }

  .br-sp {
    display: block;
  }

  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 20px;
  }

  .room-headline {
    font-size: 18px;
  }
}

footer {
  margin: 120px 0;
}

.footer-title,
.base-title,
.top-title {
  text-align: center;
  margin: 10px auto 20px auto;
}

.footer-title .base-title,
.base-title .base-title,
.top-title .base-title {
  font-size: 20px;
}

.base-title {
  font-size: 20px;
}

.introduction,
.classroom-information,
.fee-about,
.class-card-about,
.philosophy-body,
.teacher-contents {
  text-align: center;
  margin: 10px auto 50px auto;
}

nav {
  text-align: center;
}

nav .navbar-nav {
  background-color: #fff;
  margin: auto;
}

nav .navbar-nav li:hover {
  transition-duration: 0.8s;
  box-shadow: 0 0 20px rgba(220, 44, 44, 0.4) inset;
}

nav .navbar-name {
  margin: 6px auto;
  text-align: center;
}

nav .nav-item {
  margin: 0 10px;
}

@media only screen and (max-device-width: 480px) {
  /* 480px以下はモバイル用レイアウト*/

  .navbar-nav,
  .nav-item,
  .nav-link {
    width: 100%;
  }
}

/* ここから home */

.home-classroom,
.home-teacher,
.home-lesson,
.home-access,
.home-blog,
.home-contact {
  text-align: center;
}

.home-classroom .home-classroom,
.home-classroom .home-teacher,
.home-classroom .home-lesson,
.home-teacher .home-classroom,
.home-teacher .home-teacher,
.home-teacher .home-lesson,
.home-lesson .home-classroom,
.home-lesson .home-teacher,
.home-lesson .home-lesson,
.home-access .home-classroom,
.home-access .home-teacher,
.home-access .home-lesson,
.home-blog .home-classroom,
.home-blog .home-teacher,
.home-blog .home-lesson,
.home-contact .home-classroom,
.home-contact .home-teacher,
.home-contact .home-lesson {
  margin-bottom: 100px;
}

.home-classroom .home-access,
.home-classroom .home-blog,
.home-classroom .home-contact,
.home-teacher .home-access,
.home-teacher .home-blog,
.home-teacher .home-contact,
.home-lesson .home-access,
.home-lesson .home-blog,
.home-lesson .home-contact,
.home-access .home-access,
.home-access .home-blog,
.home-access .home-contact,
.home-blog .home-access,
.home-blog .home-blog,
.home-blog .home-contact,
.home-contact .home-access,
.home-contact .home-blog,
.home-contact .home-contact {
  margin-bottom: 80px;
}

.headline {
  margin: 100px auto 60px auto;
}

.home-image {
  width: 260px;
  height: 226px;
}

.introduction-text {
  margin: 20px 0;
  padding: 0;
}

.home-link {
  margin-top: 30px;
}

.link-border {
  text-decoration: none;
  padding: 5px 20px;
  border-top: 1px solid #3490dc;
  border-bottom: 1px solid #3490dc;
}

/*ここまで home */

/*ここから classroom */

.classroom-contents {
  margin-bottom: 60px;
  text-align: center;
}

.classroom-contents .classroom-headline {
  font-weight: bold;
}

.classroom-contents .classroom-body {
  text-align: center;
}

.class-card {
  margin: 50px auto;
}

.class-card .top-card {
  text-align: center;
  justify-content: space-around;
  margin: 0;
}

.class-card .card-image {
  padding: 0 5px;
}

.card {
  border-radius: 5px;
  box-shadow: 0 2px 5px #bbb;
  text-align: center;
  margin: 0 1px 20px 0;
  padding: 0;
}

.card .card1 {
  background-color: #FFDBC9;
}

.card .card2 {
  background-color: #FFD5EC;
}

.card .card3 {
  background-color: #E6FFE9;
}

.card .card4 {
  background-color: #D7EEFF;
}

.card-title {
  margin-top: 30px;
}

.hidden_box {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}

.hidden_box label {
  padding: 15px;
  font-weight: bold;
  border: solid 2px #FFD5EC;
  cursor: pointer;
  width: 350px;
}

.hidden_box label:hover {
  background: #FFBEDA;
}

.hidden_box input {
  display: none;
}

.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

.hidden_box input:checked ~ .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.student-body {
  align-content: center;
}

.voice {
  padding: 0.5em 1em;
  margin: 2em auto;
  border: double 5px #4ec4d3;
}

.voice p {
  margin: 0;
  padding: 0;
}

.student-voice-image {
  height: 40px;
  width: 40px;
}

.room-image-avi {
  height: 360px;
  width: 400px;
}

.room-body-about {
  margin: auto;
}

.room-body-about p {
  margin: 30px;
}

.room-headline {
  margin: 60px 0 40px 0;
}

/*ここまで classroom */

/*ここから teacher */

.teacher-image,
.lesson-content-image {
  width: 70vw;
  height: 60vw;
  margin-bottom: 50px;
}

.teacher-body-under {
  text-align: center;
}

/*ここまで teacher */

/*ここから lesson */

.lesson-content-image {
  text-align: center;
  margin: auto;
}

.lesson-headline,
.lesson-guide-title {
  margin: 80px auto 50px auto;
  text-align: center;
}

.lesson-content-body,
.lesson-guide-body {
  text-align: left;
  margin: auto;
  padding: 0;
}

.philosophy-body {
  padding: 0;
}

.philosophy-body p {
  margin: 5px 0;
}

.philosophy-body .philosophy-body-paragraph {
  margin-bottom: 25px;
}

/*ここまで lesson */

/*ここから access */

.access-image {
  text-align: center;
  padding: 0;
}

.access-body {
  text-align: left;
  margin-left: 20px;
  padding: 0;
}

.access-headline {
  margin: 60px auto 40px auto;
}

.access-body-under {
  text-align: left;
  margin: auto;
}

/*ここまで access */

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
  width: 30px;
  z-index: 1;
  overflow: hidden;
  text-indent: 500%;
  white-space: nowrap;
  border: none;
  transform: none;
  border-radius: 0;
}

.slick-prev {
  left: -10px;
  background: url(/images/left-arrow-w.svg?e5716838912ecfebca1220de48b46d7e) center no-repeat rgba(255, 255, 255, 0.6);
  background-size: 50%;
}

.slick-prev:hover {
  background: url(/images/left-arrow-w.svg?e5716838912ecfebca1220de48b46d7e) center no-repeat rgba(255, 255, 255, 0.6);
  background-size: 50%;
}

.slick-next {
  right: -10px;
  background: url(/images/right-arrow-w.svg?100ad34876cd5e4bde08fc43c92827d9) center no-repeat rgba(255, 255, 255, 0.6);
  background-size: 50%;
}

.slick-next:hover {
  background: url(/images/right-arrow-w.svg?100ad34876cd5e4bde08fc43c92827d9) center no-repeat rgba(255, 255, 255, 0.6);
  background-size: 50%;
}

img {
  width: 100%;
}

